// Place all the styles related to the cars controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cars_loading {
  display: none;
  text-align: center;
}

h1 {
  font-color: green;
}