<h1>Listing cars</h1>

<div class="cars_loading">
  <%= image_tag('ajax_load.gif') %>
</div>

<div class="cars">
  <%= render :partial => 'cars' %>
</div>

<br>

<%= link_to 'New Car', new_car_path %>
